server:
  http_listen_port: 9080
  grpc_listen_port: 0

positions:
  filename: /tmp/positions.yaml

clients:
  - url: http://loki:3100/loki/api/v1/push

scrape_configs:
  - job_name: mlops-monitoring
    static_configs:
      - targets:
          - localhost
        labels:
          job: titanic-drift
          __path__: /data/monitoring/monitoring_logs.json
    pipeline_stages:
      - json:
          expressions:
            timestamp: timestamp
            level: level
            message: message
            feature: feature
            drift: drift
            diff: diff
            threshold: threshold
      - timestamp:
          source: timestamp
          format: RFC3339
      - labels:
          level:
          feature:
          drift:
